{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]",
    "^.+\\.module\\.(css|less|scss)$",
    "^.+\\.(css|less|scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
